<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{shareService.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="grid-basic-page">
  <ion-list>
    <ion-list-header>Control</ion-list-header>

    <ion-item clear>
      <ion-label>Manual Control</ion-label>
      <ion-toggle checked="false" [(ngModel)]="manual"></ion-toggle>
    </ion-item>

    <ion-grid *ngIf="manual">
      <ion-row>
        <ion-col>
          <div *ngIf="irrigate">
              <iframe width="420" height="315" src="http://www.youtube.com/embed/G4K4U5hnZSA" frameborder="0" allowfullscreen></iframe>
            </div>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>Manual irrigation</ion-label>
            <ion-toggle color="secondary" checked="false" [(ngModel)]="irrigate" (ionChange)="toggleChanged()"></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Water usage
    </ion-list-header>
    <ion-row align-items-center *ngIf="shareService.isDataAvailable">

      <ion-col>
        <ion-card>
          <ion-card-header>
            Water consumptions
          </ion-card-header>
          <ion-card-content>
            <div>
              <canvas #real_time_water=base-chart baseChart
                        [datasets]="shareService.real_time_water_consumption_data[0]"
                        [labels]="shareService.real_time_water_consumption_label[0]"
                        [options]="chartSetting.lineChartOptions"
                        [colors]="chartSetting.lineChartColors[0]"
                        [legend]="chartSetting.lineChartLegend"
                        [chartType]="chartSetting.lineChartType"></canvas>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        
        <ion-card class="chartcontainer">
          <ion-card-header>
            {{shareService.daily_water_usage_header}}
          </ion-card-header>
          <ion-card-content>
            <canvas #water_usage=base-chart baseChart
                      [data]="shareService.real_time_daily_water_usage_data"
                      [labels]="shareService.real_time_daily_water_usage_label"
                      [chartType]="chartSetting.doughnutChartType"></canvas>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>

  </ion-list>

  <ion-list>
    <ion-list-header>
      Sensors
    </ion-list-header>

    <ion-row align-items-center  *ngIf="shareService.isDataAvailable">
      <ion-col>
        <ion-card>
          <ion-card-header>
            {{shareService.sensor_info[shareService.selected_crop_user][0].name}}
          </ion-card-header>
          <ion-card-content>
            <canvas #hum=base-chart baseChart
                    [datasets]="shareService.real_time_sensor_data[0]"
                    [labels]="shareService.real_time_sensor_data_label[0]"
                    [options]="chartSetting.lineChartOptions"
                    [colors]="chartSetting.lineChartColors[0]"
                    [legend]="chartSetting.lineChartLegend"
                    [chartType]="chartSetting.lineChartType"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            {{shareService.sensor_info[shareService.selected_crop_user][1].name}}
          </ion-card-header>
          <ion-card-content>
            <canvas #soil=base-chart baseChart
                    [datasets]="shareService.real_time_sensor_data[1]"
                    [labels]="shareService.real_time_sensor_data_label[1]"
                    [options]="chartSetting.lineChartOptions"
                    [colors]="chartSetting.lineChartColors[1]"
                    [legend]="chartSetting.lineChartLegend"
                    [chartType]="chartSetting.lineChartType"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            {{shareService.sensor_info[shareService.selected_crop_user][2].name}}
          </ion-card-header>
          <ion-card-content>
            <canvas #temp=base-chart baseChart
                    [datasets]="shareService.real_time_sensor_data[2]"
                    [labels]="shareService.real_time_sensor_data_label[2]"
                    [options]="chartSetting.lineChartOptions"
                    [colors]="chartSetting.lineChartColors[2]"
                    [legend]="chartSetting.lineChartLegend"
                    [chartType]="chartSetting.lineChartType"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-list>

  <!-- <ion-list>
    <ion-list-header>
      Weather
    </ion-list-header>

    <ion-card>
      <ion-card-header>
        Percipitation
      </ion-card-header>
      <ion-card-content>
        <canvas #percipitationCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Wind speed
      </ion-card-header>
      <ion-card-content>
        <canvas #windSpeedCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Solar radiation
      </ion-card-header>
      <ion-card-content>
        <canvas #solarRadiationCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </ion-list> -->

</ion-content>
