<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>Real-time data for</ion-label>
    <ion-select>
      <ion-option value="Area1" selected="true">Area1</ion-option>
      <ion-option value="Area2">Area2</ion-option>
      <ion-option value="Area3">Area3</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-list-header>
      Sensors
    </ion-list-header>

    <ion-item *ngFor="let sensor of sensors">
      <ion-icon name="ios-warning" item-left></ion-icon>
      <button ion-button clear (click)="clickSensorButton(sensor)">{{sensor.name}}</button>
      <ion-badge item-right>{{sensor.latest}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Weather
    </ion-list-header>

    <ion-item *ngFor="let weather of weathers">
      <ion-icon name="ios-warning" item-left></ion-icon>
      <button ion-button clear (click)="clickWeatherButton(weather)">{{weather.name}}</button>
      <ion-badge item-right>{{weather.latest}}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Control
    </ion-list-header>

    <ion-item>
      <ion-label>Manual irrigation</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
