<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{shareService.title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-item>
      <ion-label>Start</ion-label>
      <ion-datetime displayFormat="MM DD YYYY, HH:mm:ss" [(ngModel)]="start_date_time"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>End</ion-label>
      <ion-datetime displayFormat="MM DD YYYY, HH:mm:ss" [(ngModel)]="end_date_time"></ion-datetime>
    </ion-item>

    <ion-col>
      <button ion-button class="submit-btn" round full type="submit" (click)="submitSelected()">Submit</button>
    </ion-col>

    <ion-col *ngIf="isSearchDataAvailable">
      <ion-card>
        <ion-card-header>
          Water consumption history
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart
                  [data]="water_history_data"
                  [labels]="water_history_label"
                  [options]="chartSetting.lineChartOptions"
                  [colors]="chartSetting.lineChartColors[0]"
                  [legend]="chartSetting.lineChartLegend"
                  [chartType]="chartSetting.lineChartType"></canvas>
        </ion-card-content>
      </ion-card>

      <ion-card *ngFor="let sensor of shareService.sensor_info[shareService.selected_crop_user]; let i = index">
        <ion-card-header>
          {{sensor.name}}
        </ion-card-header>
        <ion-card-content>
          <canvas baseChart
                  [datasets]="sensor_data[i]"
                  [labels]="labels[i]"
                  [options]="chartSetting.lineChartOptions"
                  [colors]="chartSetting.lineChartColors[i]"
                  [legend]="chartSetting.lineChartLegend"
                  [chartType]="chartSetting.lineChartType"></canvas>
        </ion-card-content>
      </ion-card>
    </ion-col>

</ion-content>
